<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Welborn Milestone Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Main style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Welborn Stock Ticker</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://github.com/LWelborn" target="_blank">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/locke-welborn/" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-lg-3">
          <h1 class="text-primary">Select a stock to view recent price history</h1>
          <form action="/stock" method="get">
            <div class="form-group">
              <label for="ticker">Ticker Symbol:</label>
              <input type="text" class="form-control form-control-large" id="ticker" name="ticker" placeholder="GOOG">
            </div>
            <p>Price Options:</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Open" id="open_price" name="price_options">
              <label class="form-check-label" for="open_price">
                Open
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="High" id="high_price" name="price_options">
              <label class="form-check-label" for="high_price">
                High
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Low" id="low_price" name="price_options">
              <label class="form-check-label" for="low_price">
                Low
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Close" id="close_price" name="price_options">
              <label class="form-check-label" for="close_price">
                Close
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Adjusted Close" id="adjusted_close_price" name="price_options">
              <label class="form-check-label" for="adjustd_close_price">
                Adjusted Close
              </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
          </form>
        </div>

        <div class="col-lg-9">
            <h2>Sorry, an error occured...</h2>
          <h3> {{ error }}  </h3>
        </div>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
